@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.h-90vh{
  height: 90vh;
}

.h-min-100vh{
  min-height: 100vh;
}

h2{
  font-size: 32px;
}

h1, h2, h3{
  font-weight: bold;
}

section{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.blinking-cursor {
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}